<footer class="footer">

  <div class="columns">
    <div class="column">
      <img src="{{site.baseurl}}/assets/images/grand-st-logo_header.png" alt="Grand St. Logo">
    </div>
    <div class="column">
      <p>
        Email: grandstbkny [ at ] gmail dot com<br>
        Join the <a href="https://discord.gg/3JxneZsa8r">GRANDstBK Discord</a><br>
        <a href="/business">List Your Business</a>
      </p>
      <hr>
      <p>
        <strong>SAT 8/23/2025 @ 12p-7p</strong> on <strong>Grand st. between Rebeling & Havemeyer</strong>
      </p>
    </div>
  </div>
  <section class="content has-text-centered">
    <hr>
    <p>
      <strong>GRANDstBK</strong> by <a href="https://chatocreative.com">Chato Creative</a> and <a href="https://studiobilanko.com">Studio Bilanko</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </section>
</footer>
