<footer class="footer">

  <div class="columns">
    <div class="column">
      <img src="{{site.baseurl}}/assets/images/grand-st-logo_header.png" alt="Grand St. Logo">
    </div>
    <div class="column">
      <p>
        <a href="/street-team">Join the Street Team</a><br>
        <a href="/business">List Your Business</a><br>
        <a href="mailto:grandstbkny@gmail.com">Email Us</a>
      </p>
      <hr>
      <p>Open Street Hours</p>
      <p>
        May 28th - Sept 6, 2021<br>
        FRI 5pm-11pm<br>
        SAT 12pm-11pm<br>
        SUN 12p-6pm
      </p>
    </div>
  </div>
  <section class="content has-text-centered">
    <hr>
    <p>
      <strong>Grand St. Brooklyn</strong> by <a href="https://chatocreative.com">Chato Creative</a> and <a href="https://studiobilanko.com">Studio Bilanko</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </section>
</footer>
