<footer class="footer">

  <div class="columns">
    <div class="column">
      LOGO
    </div>
    <div class="column">
      <p>
        <a href="/business">List Your Business</a><br>
        <a href="/street-team">Join the Street Team</a><br>
        <a href="mailto:grandstbkny@gmail.com">Email Us</a><br>
      </p>
      <hr>
      <p>
        May 31st - Sept 6, 2021<br>
        Fridays: 5 - 10pm<br>
        Saturdays &amp; Sundays: Noon - 11pm
      </p>
    </div>
  </div>
  <section class="content has-text-centered">
    <hr>
    <p>
      <strong>Grand St. Brooklyn</strong> by <a href="https://jgthms.com">Chato Creative</a> and <a href="https://studiobilanko.com">Studio Bilanko</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </section>
</footer>
