<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- if page_paths -%}
      <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="{{site.baseurl}}/assets/images/flower-sm-transparent.png" alt="Grand St. Flower">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/calendar">Calendar</a>
            <a class="navbar-item" href="/faq">FAQ</a>
            <a class="navbar-item" href="/street-team">JOIN THE STREET TEAM</a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <p>BLOCK PARTY <strong>Summer 2021</strong></p>
              </div>
            </div>
          </div>
        </div>
      </nav>
    {%- endif -%}
  </div>

  <div class="decorator outer">
    <div class="decorator middle">
      <div class="decorator inner">
        
      </div>
    </div>
  </div>
</header>
