<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- if page_paths -%}
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="{{site.baseurl}}/assets/images/flower-sm.jpg" alt="Grand St. Flower">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>

            <a class="navbar-item" href="{{site.baseurl}}/about">
              About
            </a>

            <a class="navbar-item">
              Community
            </a>

            <a class="navbar-item">
              Businesses
            </a>

            <a class="navbar-item" href="{{site.baseurl}}/faq">
              FAQ
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="{{site.baseurl}}/contact">
                Get in Touch
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Discord
                </a>
                <a class="navbar-item">
                  Join the Street Team
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Feedback
                </a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <p>Open Streets</p>
              <p>Williamsburg, Brooklyn <strong>Summer 2021</strong></p>
              </div>
            </div>
          </div>
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
