---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

// Set your brand colors
$dark_cornflower_blue: #274393;
$ultra_red: #E76E86;
$go_green: #0EAD69;
$sunglow: #FFD23F;
$carribean_green: #3BCEAC;
$sunglow_background: #fcf8e5;

// Update Bulma's global variables
$family-sans-serif: "Quicksand", sans-serif;
$primary: $dark_cornflower_blue;
$link: $ultra_red;

$navbar-background-color: #fafafa;
$navbar-item-hover-background-color: $sunglow;
$navbar-item-hover-color: $go_green;

@import "../node_modules/bulma/bulma.sass";

main.section {
  padding: 1.5rem;
}

@media screen and (min-width: $tablet) {
  main.section {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.page-content p {
  @extend .block
}

h1, h2, h3, h4, h5, h6 {
  @extend .title;
  color: $dark_cornflower_blue;
}

h1 {
  @extend .is-1
}

h2 {
  @extend .is-2
}

h3 {
  @extend .is-3
}

.card ul {
  list-style: none;
  margin: 0;
}

.site-header div.decorator {
  width: 100%;
  height: 12rem;
  background-color: #fff;
}

.site-header div.outer {
  border-left: 2rem solid #274393;
  border-right: 2rem solid #0EAD69; 
}

.site-header div.middle {
  border-left: 2rem solid #E76E86;
  border-right: 2rem solid #3BCEAC;
}

.site-header div.inner {
  background-image: url({{site.baseurl}}/assets/images/grand-st-logo_header.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 2rem solid #FFD23F;
  border-top: none;
  border-bottom: none;
}

.card-header-title {
  color: $go_green;
}

.card-image {
  padding: .5rem;
}