---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

// Set your brand colors
$purple: #274393;
$pink: #E76E86;
$brown: #757763;
$beige-light: #fcf8e5;
$beige-lighter: #fffef9;

// Update Bulma's global variables
$family-sans-serif: "Quicksand", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: $beige-light;
$scheme-main: $beige-lighter;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma.sass";

.page-content p {
  @extend .block
}

h1, h2, h3, h4, h5, h6 {
  @extend .title
}

h1 {
  @extend .is-1
}

h2 {
  @extend .is-2
}

h3 {
  @extend .is-3
}

