---
layout: page
permalink: /
---
<section>
  <div class="columns">
    <div class="column">
      <h2>Block Party 2024</h2>
      <p>Saturday 8/24 @ 12p-7p
      </br>Grand st. btwn Roebling & Havemeyer
     </p>
    </div>
    <div class="column">
      <h2>Welcome</h2>
      <p>Welcome to GRANDstBK - where Williamsburg's Southside community comes together!</p>
    </div>
    <div class="column">
      <h2>Events Calendar</h2>
      <p>Check out our <a href="/calendar">calendar of events</a> and activities hosted by local businesses.</p>
    </div>
  </div>
</section>

<hr>

<!--
<section class="hero">
  <div class="hero-body">
    <p class="title">
      
    </p>
  </div>
</section>
-->

<section>
  <div class="columns is-multiline">
    {% for business in site.data.businesses %}
      {% include business-card.html %}
    {% endfor %}
  </div>
</section>



