---
layout: page
permalink: /
---
<section>
  <div class="columns">
    <div class="column">
      <h2>Welcome</h2>
      <p>Welcome to GRANDstBK - where Williamsburg's Southside community comes together!</p>
    </div>
    <div class="column">
      <h2>Community</h2>
      <p>Shop Local</p>
      <p>Explore independently owned and operated businesses in the neighborhood.</p>
      <p><a href="http://localhost:4000/business">List Your Business</a></p>
    </div>
    <div class="column">
      <h2>Events Calendar</h2>
      <p>Block Party 2025</p>
      <p><strong>Saturday 8/23/2025</strong> @ 12p-7p<br>
        Grand st. btwn Roebling & Havemeyer</p>
      <p>Check out our <a href="/calendar">calendar of events</a> and activities hosted by local businesses.</p>
    </div>
  </div>
</section>

<hr>

<!--
<section class="hero">
  <div class="hero-body">
    <p class="title">
      
    </p>
  </div>
</section>
-->

<section>
  <div class="columns is-multiline">
    {% for business in site.data.businesses %}
      {% include business-card.html %}
    {% endfor %}
  </div>
</section>



